
---

### 🛑 `.gitignore`

```gitignore
# Node
node_modules
.env
.env.local
.next
dist
out
*.log
#other package json files
package.json
package-lock.json
# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp

# Build
build
coverage
.nyc_output
turbo

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
